body {
    font-family: serif;
    font-size: 16px;
    margin: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: bisque;
  }
  
  header, {
    padding: 10px;
    text-align: left;
    background: #e4b184;
    color: rgb(246, 242, 242);
  }

  nav {
    display: flex;
    background-color: #e4b184;
    justify-content: right;
    font-size: 30px;
  }
  
  nav a {
    color: #fff8f8e7;
    padding: 20px;
    text-decoration: underline;
    text-align: right;

  }
  body, html {
    height: 16px;

}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/asset1.jpg");

  /* Set a specific height */
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: revert;
  
}

/* Place text in the middle of the image */
.hero-text {
  text-align: -webkit-center;
  position: relative;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%
}

.image {
  flex-basis: 40%
}

.text {
  font-size: 16px;
  padding-left: 20px;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
}

  @media screen and (max-width: 768px) {
    main,
    nav,
    .product {
      flex-direction: column;
    }
  
    .product-details {
      margin-left: 0;
    }
  }
  



