* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 20px;
    text-align: left;
    background: #e4b184;
    color: rgb(246, 242, 242);
    border: solid 10px #b17543);
  }
  
  nav {
    display: flex;
    background-color: #e4b184;
    justify-content: right
  }
  
  nav a {
    color: #080808e3;
    padding: 14px 20px;
    text-decoration: underline;
    text-align: right;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    margin-top: auto;
  }
  
  .product {
    display: flex;
    width: 90%;
    margin: 1% auto;
  }
  
  .product button {
    font-size: 150%;
  }
  
  .product-slideshow {
    display: flex;
  align-items: center;
  }
  
  .product-image {
    width: 100%;
  }
  
  .product-details {
    margin-left: 3%;
    flex: 0 0 60%;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav,
    .product {
      flex-direction: column;
    }
  
    .product-slideshow button {
      /* Removes the slideshow buttons from the document flow */
      display: none;
    }
  
    .product-details {
      margin-left: 0;
    }
  }
  



